	h1{	
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	h2{	
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	h3{	
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	h4{	
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	button{	
	background: #BDB76B;
	padding: 10px 10px;
	border: 1px double black;
	border-radius: 15px;
	outline: 1px double white;
	box-shadow: 2px 2px 2px 2px black;
	margin: 3px;
	font-weight: bold;
	transition: all 0.1s linear;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
    display: block;
	}
	
