	body{
	background: linear-gradient(#000, #008);
    background-size: cover;
	}
	img{  
    width: 100;
    height: 130;
	margin: 0.25em;
	transition: all 0.3s linear;
	border: solid 4px transparent;
	}
    img:hover {
	border: solid 4px #D3D3D3;
	outline: solid 1px #D3D3D3;
    transform: translateY(20px) scale(1.2,1.2);
	}
    img:active {
	border: solid 4px #FF0000;
    transition: background 0s;
    }
