	img{  
	margin-right: 35px;
	cursor:none;
    width: 390;
    height: 460;
	border: solid 4px #FDF5E6;
	border-radius: 10px
    
	}
	h1{
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	h2{
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	h3{
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	h4{
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	button{
	border: 2px solid #000000;
	}
	b {
	margin-left: 35px;
	}