	body{
	background: #4169E1;
	}
	video{
	width: 1200;
	height: 500;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	border: 6px double black;
	border-radius: 15px;
	}