	body{
	background: url(../bg/bg.jpg) no-repeat, linear-gradient(#123, #321);
    background-size: cover;
	background-attachment: fixed;
	}
	h1{	
    text-shadow: 0 0 0.6rem #8B0000, 0 0 1.5rem #8B0000,
      -0.2rem 0.1rem 1rem #8B0000, 0.2rem 0.1rem 1rem #8B0000,
      0 -0.5rem 2rem #8B0000, 0 0.5rem 3rem #8B0000;
	}
	h2{	
    text-shadow: 0 0 0.6rem #8B0000, 0 0 1.5rem #8B0000,
      -0.2rem 0.1rem 1rem #8B0000, 0.2rem 0.1rem 1rem #8B0000,
      0 -0.5rem 2rem #8B0000, 0 0.5rem 3rem #8B0000;
	}
	h3{	
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	h4{	
    text-shadow: black 1px 1px 0, black -1px -1px 0,
	             black -1px 1px 0, black 1px -1px 0;
	margin-left: 35px;
	}
	video{
	width: 1200;
	height: 500;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	border: 6px double black;
	border-radius: 15px;
	}